.headshot {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  .dr-eric-roth { background-position-y: -20px; background-image: url('./img/about/eric-roth.png'); }
  
  .manuel-illanes { background-image: url('./img/about/manuel-illanes.png'); }
  
  .andres-rodriguez{ background-image: url('./img/about/andres-rodriguez-01.png'); }
  
  .bruno-bustos { background-position-y: 0px; background-image: url('./img/about/bruno-bustos.jpeg'); }
  
  .jorge-fiengo{ background-image: url('./img/about/jorge-fiengo.png'); }
  
  .christian-conchari{ background-image: url('./img/about/christian-conchari.jpeg'); }

  .nidia-rojas{ background-image: url('./img/about/nidia-rojas.jpeg'); }

  .rocio-velasco{ background-image: url('./img/about/rocio-velasco.jpg'); }
  
  .yevgueni-velasquez{ background-image: url('./img/about/yevgueni-velasquez.jpg'); }

  .manuel-uzquiano{ background-image: url('./img/about/manuel-uzquiano.jpeg'); }

  .yamil-uchani{ background-image: url('./img/about/yamil-uchani.jpeg'); }

  .placeholder { background-image: url('./img/ntx-ucb/ntxucb-logo.jpg'); }
  
  
  
  