.headshot {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  .dr-eric-roth { background-position-y: -20px; background-image: url('./img/about/eric-roth.png'); }
  
  .manuel-illanes { background-image: url('./img/about/manuel-illanes.png'); }
  
  .alvaro-molina { background-image: url('./img/about/alvaro-molina.png'); }
  
  .andres-rodriguez{ background-image: url('./img/about/andres-rodriguez.png'); }
  
  .dayanne-orellana { background-position-y: 0px; background-image: url('./img/about/dayanne-orellana.png'); }
  
  .camila-ponce{ background-image: url('./img/about/camila-ponce.png'); }

  .cinthia-reyes{ background-image: url('./img/about/cinthia-reyes.jpg'); }
  
  .fernanda-delgado{ background-image: url('./img/about/fernanda-delgado.jpeg'); }

  .katherine-quint{ background-image: url('./img/about/katherine-quint.jpeg'); }

  .betania-cardenas{ background-image: url('./img/about/betania-cardenas.png'); }

  .mariana-daza{ background-image: url('./img/about/mariana-daza.png'); }
  
  .placeholder { background-image: url('./img/main-page/white-rat.jpg'); }
  
  
  
  