.headshot {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  .dr-eric-roth { background-position-y: -20px; background-image: url('./img/about/eric-roth.png'); }
  
  .manuel-illanes { background-image: url('./img/about/manuel-illanes.png'); }
  
  .andres-rodriguez{ background-image: url('./img/about/andres-rodriguez-01.png'); }
  
  .bruno-bustos { background-position-y: 0px; background-image: url('./img/about/bruno-bustos.jpeg'); }
  
  .michelle-siles{ background-image: url('./img/about/michelle-siles.jpeg'); }
  
  .christian-conchari{ background-image: url('./img/about/christian-conchari.png'); }

  .nelson-fernandez{ background-image: url('./img/about/nelson-fernandez.jpeg'); }

  .rocio-velasco{ background-image: url('./img/about/rocio-velasco.jpg'); }
  
  .yevgueni-velasquez{ background-image: url('./img/about/yevgueni-velasquez.jpg'); }

  .manuel-uzquiano{ background-image: url('./img/about/manuel-uzquiano.jpeg'); }

  .yamil-uchani{ background-image: url('./img/about/yamil-uchani.jpeg'); }

  .adriel-cossio{ background-image: url('./img/about/adriel-cossio.jpeg'); }

  .bryan-duran{ background-image: url('./img/about/bryan-duran.jpg'); }

  .camila-mojica{ background-image: url('./img/about/camila-mojica.jpeg'); }

  .katherine-romero{ background-image: url('./img/about/katherine-romero.jpeg'); }

  .kevin-escobar{ background-image: url('./img/about/kevin-escobar.jpeg'); }

  .mauricio-velez{ background-image: url('./img/about/mauricio-velez.jpeg'); }

  .nagely-rodriguez{ background-image: url('./img/about/nagely-rodriguez.jpeg'); }

  .rodolfo-catunta{ background-image: url('./img/about/rodolfo-catunta.jpeg'); }

  .stephanie-chacolla{ background-image: url('./img/about/stephanie-chacolla.jpeg'); }

  .placeholder { background-image: url('./img/ntx-ucb/ntxucb-logo.jpg'); }

  .valentina-rios{ background-image: url('./img/about/valentina-rios.jpg'); }
  
  .karen-flores{background-image: url('./img/about/karen-flores.jpg');}
  
  .nayra-limachi{background-image: url('./img/about/nayra-limachi.jpg');}
  
  .andres-rafael{background-image: url('./img/about/andres-rafael.jpg');}

  .belen-lopez{background-image: url('./img/about/belen-lopez.jpeg');}

  .edgar-rodriguez{background-image: url('./img/about/edgar-rodriguez.jpg');}

  .karla-alanoca{background-image: url('./img/about/karla-alanoca.jpg');}

  .valeria-calla{background-image: url('./img/about/valeria-calla.jpeg');}

  .alison-aguilar{background-image: url('./img/about/alison-aguilar.jpg');}

  .diana-chipana{background-image: url('./img/about/diana-chipana.jpg');}

  .joel-gonzales{background-image: url('./img/about/joel-gonzales.jpg');}

  .natalia-oliden{background-image: url('./img/about/natalia-oliden.jpeg');}

  .luciana-torres{background-image: url('./img/about/luciana-torres.jpeg');}
  
  .kathleen-flores{background-image: url('./img/about/kathleen-flores.jpeg');}

  .carlos-ferreira{background-image: url('./img/about/carlos-ferreira.jpeg');}

  .marcelo-de-la-quintana{background-image: url('./img/about/marcelo-de-la-quintana.jpeg');}

  .andres-aracena{background-image: url('./img/about/andres-aracena.jpg');}

  .fernando-calderon{background-image: url('./img/about/fernando-calderon.jpg');}

  .ariel-armaza{background-image: url('./img/about/ariel-armaza.jpg');}

  .alexandra-calle{background-image: url('./img/about/alexandra-calle.jpg');}

  .dilan-nina{background-image: url('./img/about/dilan-nina.jpg');}

  .roberto-verastegui{background-image: url('./img/about/roberto-verastegui.jpg');}

  .andres-hinojosa{background-image: url('./img/about/andres-hinojosa.jpg');}