@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
  .down-arrow {
    width: 35px;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  .bigger-button{
    width: 200px;
    height: 40px;
  }
  .m-left {
    margin-left: 20px;
  }
  .h-80 {
    height: 80px;
  }
  .wh-max {
    width: 100%;
    height: 100%;
  }
  
  .wh-100-60 {
    width: 100%;
    height: 60%;
  }
  
  .wh-100-50 {
    width: 100%;
    height: 50%;
  }

  .project-img {
    width: 70%;
    height: 10%;
    margin: auto;
  }

  .inv-title {
   text-align: center;
   text-justify: center;
   display: inline-block;
   margin-right: 100px;
   margin-left: 100px;
  }

  .authors {
   text-align: left;
   display: inline-block;
      margin-left: 101px;
  }

  .abstract {
    padding-left: 130px;
  }

  .pub-text {
    display:inline-block;
    padding-left: 80px;
    padding-right: 80px;

  }

* {
  box-sizing: border-box;
}

.sponsors {float:left; width: 33.33%;}